@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --circle: #9EB851;
  --cross: #DA6B31;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
#root {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100vh;
  background: #0E4A5E;
}
.game-title {
  text-align:center;
  color: #ffffff;
  font-size: 3em;
  font-weight: 500;
  color:var(--cross);
}
.game-title span {
  color:var(--circle);
}
.container {
  width: 500px;
  border: 2px solid #ffffff;
  height: 500px;
  border-radius: 1em;
  overflow:hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.game-btn {
  background: none; 
  border: 1px solid #ffffff;
  font-size: 6em;
  font-weight: 500;
  height: 165.55px;
  width: 165.55px; 
}
.cross {
  color: var(--cross);
}
.circle {
  color: var(--circle);
}